.navbar{
    display: flex;
    padding: 15px 15px;
    align-items: center;
    justify-content: space-between;
    background-color:#079B41;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar__logo ,.navbar__icons >a{
    margin: 0 10px;
    text-decoration: none;

}
.navbar__logo >img{
    height: 65px;
}
.navbar__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.navbar__icons{
    display: flex;
    margin: 0 50px;
    width: 400px;
    align-items: center;
    padding: 0 30px;
    
}
.navbar__icons >a{
    margin: 0 20px;
    font-size: 20px;
    color: white;
}
.navbar__buttons{
    display: flex;
   margin-left: 50px;
}
.navbar__button1{
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 25px;
    background-color: #ffb845;
   border-radius: 25px;
   color: white;
}
.navbar__button2{
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 25px;
    border: 2px solid #0bb85066;
    border-radius: 25px;
    color: white;
}
body{
    margin: 0;
}
.container{
    height: 800px;
    background: linear-gradient(to top, white 45%,#079B41 20% );
   display: flex; 
    align-items: center; 
}
.container__text{
    
    font-family: 'Roboto', sans-serif;
    margin-left: 80px;
}
.container__text >h1{
    font-size: 65px;
    margin: 0;
    color: white;
}
.container__text>p{
    font-size: 25px;
    color: white;
}
.container__phone{
    margin: 0px;
    width: 350px;
    height: 600px;
}
.container__watch{
    height: 500px;
    margin-top: 50px;
    margin-left: -50px;
}
.container__icons{
    display: flex;
}
.berry{
    margin-top: -100px;
    margin-left: -50px;
    width: 60px;
}
.apple{
    color:#46618A;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.android{
    color:#46618A;
    display: flex;
    align-items: center;
}
.stars{
    display: flex;
    margin-left: -50px;
}
.container__rating{
    margin-top: 60px;
    margin-bottom: 50px;
}
.womenhealth{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.companies > img{
height: 50px;
margin: 8px;
}
.companies{
    padding: 80px 0;
    margin: auto;
    width: 99%;
}
.succeed >h1{
    color: #268FD0;
    text-align: center;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
}
.succeed{
    /* background-color: #F8F4F1; */
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    background: #fff url(https://s3.amazonaws.com/img.mynetdiary.com/images/pattern-grunge-400x400.jpg) 0 0 repeat;;
}
.succeed__content>h1{
    color:  #268FD0;
}
.succeed__content >h2{
    color:#46618A ;
    line-height: 1.5;
}
.succeed__content{
    text-align: center;
    width: 600px;
    margin: 20px;
}
.succeed__contents{
    align-items: center;
justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.white{
    width:100%;
    height:450px;
    border-bottom: dashed #9e6868 1px;
    align-items: center;
    text-align: center;
    margin:10px 0px 20px;
}
.p1{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color:#3994e9;
    font-weight: 800;
}
.p2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color:#164775;
    font-weight: 500;
}
.inner{
    border:2px solid #7be67b;
    width:380px;
    height:60px;
    font-size: 20px;
    font-weight: 600;
    margin:2px auto 30px;
    border-radius: 30px;
    color:#22a322;
    font-family: 'Raleway', sans-serif;
}
.p3{
    margin:15px auto;
    color:#22a322;
}
a:link {
text-decoration: none;
}
.inner:hover{
    border:2px solid green;
}
.prm{
    width:30%;
    height:520px;;
    margin:40px 30px 10px 40px;
    text-align: center;
    border-radius:10px;
}
.prm1{
    width:30%;
    height:520px;;
    margin:40px 30px 30px 40px;
    text-align: center;
    border-radius:10px;
}
.prm2{
    width:30%;
    height:520px;;
    margin:40px 40px 10px 40px;
    text-align: center;
    border-radius:10px;
}
.img1{
    width:100%;
    height:380px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #2e2e2d70  ,-5px -5px 5px #2e2e2d70 ;
}
.p4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:#3994e9;
    margin:10px
}
.second{
    display: flex;
    flex-direction: row;
    
}
.p5{
    font-size:25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color:#164775
}
.more{
    margin:100px auto;
    width:18%;
    height:60px;
    border:2px solid #7be67b;
   text-align: center;
   border-radius:30px;
}
.p6{
    margin:15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:#22a322;
    font-size: 20px;
}
.more:hover{
    border:2px solid green;
}

.carousel-inner{
   
   width:100%;
   height:600px
}
.contain{
   width:100%;
   height:600px;
   background-color: rgb(25,159,69);
}
.inrcr{
   /* float:right; */
   width:50%;
   height:400px;
   margin:20px 100px 0px 20px;
}
/* .crimg{
   float:left;
} */
.h2{
   color:white;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 60px;
   margin:10px;
}
.read{
   border:2px solid green;
   color:white;
   font-family: 'Raleway', sans-serif;
   margin:30px 20px ;
   height:60px;
   width:40%;
   font-size: 20px;
   border-radius: 40px;
}
.read:hover{
    border:1px solid rgb(252,248,179)
}

.flex{
    display:flex;
   flex-direction: row;
}